.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999;

  &__spin {
    font-size: 32px;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;

    @keyframes moving {
      100% {
        transform: rotate(-360deg);
      }
    }

    & {
      animation: moving 3s infinite linear;
      transform-origin: -40px -40px;
      transform: scale(-1);
    }
  }
}
