.tabs {
  // font-family: 'Graphik';
  display: flex;
  flex-direction: column;
  @media screen and (max-width: 767px) {
    margin-bottom: 36px;
  }

  &__wrapper {
    display: flex;
  }
  &__tablinks {
    font-family: 'Graphik';
    font-size: 16px;
    line-height: 24px;
    // color: #85aeb6;
    color: #9a9ca2;
    width: 224px;
    text-align: left;
    border-bottom: 1px solid #85aeb6;
    @media screen and (max-width: 1279px) {
      width: 204px;
    }
    @media screen and (max-width: 1023px) {
      width: 174px;
    }
    @media screen and (max-width: 767px) {
      width: 144px;
    }
  }
  &__tablinks.active {
    border-bottom: 1px solid #ffffff;
    font-weight: 500;
    color: #ffffff;
  }
}
